<section>
  <h2 data-translate="manual.title">Clean Mac Manually</h2>
  <ol>
    <li>
      <h3 data-translate="manual.cache.title">Clear system cache</h3>
      <span data-translate="manual.cache.text">Go to:</span><span class="path">Finder > Go > Go to Folder</span><a href="#note1"><sup>(1)</sup></a
      >, <span data-translate="manual.cache.step">then type in </span><span class="code"> ~/Library/Caches </span
      ><span data-translate="manual.cache.step.end"> and hit enter. Select all the files and folders inside the Caches folder and delete them.</span>
    </li>
    <li>
      <h3 data-translate="manual.logs.title">Clear system logs</h3>
      <span data-translate="manual.cache.text">Go to: </span><span class="path">Finder > Go > Go to Folder</span><a href="#note1"><sup>(1)</sup></a
      >, <span data-translate="manual.logs.step">then type in </span><span class="code"> /var/log </span
      ><span data-translate="manual.logs.step.end"> and hit enter. Select all the files inside the Log folder and delete them.</span>
    </li>
    <li>
      <h3 data-translate="manual.languages.title">Remove unused language files</h3>
      <span data-translate="manual.cache.text">Go to: </span><span class="path">Finder > Go > Go to Folder</span><a href="#note1"><sup>(1)</sup></a
      >, <span data-translate="manual.languages.step">then type in </span><span class="code"> /Library/Languages </span
      ><span data-translate="manual.languages.step.end"> and hit enter. Delete all the language folders you don't need.</span>
    </li>
    <li>
      <h3 data-translate="manual.apps.title">Uninstall unused apps</h3>
      <span data-translate="manual.cache.text">Go to: </span><span class="path">Finder > Go > Go to Folder</span><a href="#note2"><sup>(2)</sup></a
      >, <span data-translate="manual.apps.step">then type in </span><span class="code"> /Applications </span
      ><span data-translate="manual.apps.step.end"> and hit enter. Delete the apps you don't use.</span>
    </li>
    <li>
      <h3 data-translate="manual.system.title">Clean up system files</h3>
      <span data-translate="manual.system.text"
        >Use a system cleaning tool like <a href="https://cleanmymac.com" target="_blank">CleanMyMac</a> to scan and remove unnecessary system
        files.</span
      >
    </li>
  </ol>
</section>
