<section>
  <h2 data-translate="notes.title">Notes</h2>
  <p id="note1">
    <sup>(1)</sup>
    <span data-translate="notes.folder.shortcut">You can also use the shortcut ⌘Cmd + ⬆Shift + G to open the "Go to Folder" dialog.</span>
    <span class="note" data-translate="notes.folder.note">(while in Finder)</span>
  </p>
  <p id="note2">
    <sup>(2)</sup> <span data-translate="notes.apps.shortcut">You can also use the shortcut ⌘Cmd + ⬆Shift + A to open the Applications folder.</span>
    <span class="note" data-translate="notes.apps.note">(while in Finder)</span>
  </p>
</section>
