<section>
  <h2 data-i18n="notes.title">Notes</h2>
  <p id="note1">
    <sup>(1)</sup>
    <span data-i18n="notes.folder.shortcut">You can also use the shortcut</span>
    <span class="command"><span>⌘</span><span>Cmd</span></span> + <span class="command"><span>⬆</span><span>Shift</span></span> +
    <span class="command">G</span>
    <span data-i18n="notes.folder.note">to open the "Go to Folder" dialog.</span>
    <span class="note" data-i18n="notes.folder.context">(while in Finder)</span>
  </p>
  <p id="note2">
    <sup>(2)</sup>
    <span data-i18n="notes.apps.shortcut">You can also use the shortcut</span>
    <span class="command"><span>⌘</span><span>Cmd</span></span> + <span class="command"><span>⬆</span><span>Shift</span></span> +
    <span class="command">A</span>
    <span data-i18n="notes.apps.note">to open the Applications folder.</span>
    <span class="note" data-i18n="notes.apps.context">(while in Finder)</span>
  </p>
</section>
